<header>
  <div class="header-title">
    <a class="title" href="#">UpdateQ</a>
    <div class="logo-wrapper">
        <i class="logo-icon fa fa-line-chart"></i>
    </div>
  </div>
  <nav>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#section1" class="nav-link is-active">Section 1</a>
      </li>
        <li class="nav-item">
        <a href="#section2" class="nav-link">Section 2</a>
      </li>
      <li class="nav-item">
        <a href="#section3" class="nav-link">Section 3</a>
      </li>
    </ul>
    <!-- <ul *ngIf="!loggedIn && !visibleLoginForm" class="nav navbar-nav navbar-right">
				<li>
					<a class="disabled" (click)="showLoginForm.emit()">Login</a>
				</li>
				<li>
					<a routerLink="/user/register">Register</a>
				</li>
			</ul>
			<login-view
					*ngIf="!loggedIn && visibleLoginForm"
					(submitLogin)="submitLogin.emit()">
			</login-view>
			<ul *ngIf="loggedIn" class="nav navbar-nav navbar-right">
				<li>
					<a href="#" id="greeting">Welcome, {{loggedInUserFirstName || loggedInUsername}}</a>
				</li>
				<li>
					<a routerLink="/user/profile">Profile</a>
				</li>
				<li>
					<a class="disabled" (click)="logout.emit()">Logout</a>
				</li>
			</ul> -->
  </nav>
</header>